.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem;
  background-color: #f7f8fc;
}

.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 70%;
}

.imageDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.imagestyle:nth-child(n) {
  height: 100%;
  width: 120px;
}

.header h2 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
  margin: 1.5rem 0rem 2rem;
}

.formGroup {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1c2444;
  border-radius: 5px;
  margin-right: 1.5rem;
}

.savingsLink {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  background-color: #f5f6fc;
  padding: 1.5rem 0rem;
}

.savingsLink :nth-child(n) {
  padding: 0;
  margin: 0;
}

.savingsLink h4 {
  font-size: 18px;
  font-weight: 900;
}

.savingsLink p {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  max-width: 275px;
}

.savingsLink a {
  color: #007eab;
  font-size: 18px;
  font-weight: 900;
  border-bottom: 2.5px solid #007eab;
}

.error {
  position: absolute !important;
  color: red;
  margin: 0;
  padding-top: 5px;
  font-weight: 600;
  left: 31%;
  top: 100%;
}
