.callToAction {
  padding: 6rem 0rem;
  background-color: #fff;
  border-top: 1px solid #e2e8ee;
}

.callToActionDiv{
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
}

.ctaItem {
  flex: 1 1;
  text-align: left;
  padding: 0 20px;
}

.ctaIcon :nth-child(n) {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}

.ctaTitle {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.ctaDescription {
  font-size: 16px;
  line-height: 30px;
  color: #333;
  margin-bottom: 15px;
}

.ctaButton {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px dotted #333;
  cursor: pointer;
}

.ctaButton:hover {
  border-bottom: 1px solid #fff;
}
