.heroBanner {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #ec111a;
  color: #fff;
  background-image: url("../../assets/images/home-banner1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.heroContent {
  position: relative;
  /* padding: 0rem 5rem; */
}

.heroTitle {
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  max-width: 650px;
}
