.cardDiv {
  background-color: transparent;
  border: 1px solid #ec111a;
  border-radius: 8px;
  padding: 1rem 1rem 0rem 1rem;
}

.cardDiv h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000000;
}

.addOnDiv {
  background-color: transparent;
  border: 1px solid #ec111a;
  border-radius: 8px;
  padding: 1rem 1rem 0rem 1rem;
}

.addOnDiv ul {
  margin-top: -5px;
  padding-left: 1.3rem;
}

.addOnDiv ul li {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}

.addOnDiv ul li::marker {
  color: #ec111a;
}

.detailsMainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
