* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 60px !important;
  font-weight: 700 !important;
  line-height: 60px !important;
  margin-bottom: 0px !important; */
}

h2 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 60px !important;
  margin-bottom: 0px !important; */
}

h3 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 42px !important;
  margin-bottom: 0px !important; */
}

h4 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 36px !important;
  margin-bottom: 0px !important; */
}

h5 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 22px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  margin-bottom: 0px !important; */
}

h6 {
  font-family: "Poppins", sans-serif !important;
  /* font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 18px !important;
  margin-bottom: 0px !important;
  margin-bottom: 0px !important; */
}

p {
  font-family: "Open Sans", sans-serif !important;
  /* font-size: 18px !important;
  line-height: 36px !important; */
  /* margin: 0 !important;
  padding: 0 !important; */
}

a {
  font-family: "Open Sans", sans-serif !important;
  /* font-size: 18px !important;
  line-height: 36px !important; */
  text-decoration: none !important;
  cursor: pointer !important;
}

span {
  font-family: "Open Sans", sans-serif !important;
  /* font-size: 18px !important;
  line-height: 36px !important; */
}

/* 
@media (max-width: 1024px) {
  h1 {
    font-size: 50px !important;
    line-height: 52px !important;
  }
}

@media (max-width: 992px) {
  h1,
  h2 {
    font-size: 40px !important;
    line-height: 44px !important;
  }

  h3 {
    font-size: 24px !important;
    line-height: 28px !important;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 26px !important;
  }

  p {
    font-size: 16px !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 36px !important;
    line-height: 44px !important;
  }

  h6 {
    font-size: 16px !important;
  }
} */
